[submodule "android-ColorPickerPreference"]
	path = android-ColorPickerPreference
	url = https://github.com/attenzione/android-ColorPickerPreference.git
	ignore = dirty
[submodule "mulsellistprefcompat"]
	path = mulsellistprefcompat
	url = https://github.com/h6ah4i/mulsellistprefcompat
	ignore = dirty
